:root {
    --color-background: #3b3b3b;
	--color-link: #8a3131;
	--color-text-title:#aaaaaa;
	--color-background-card:#DDD;
	--color-list-subt: #008a07;
	
	font-size: 60%;
}


html,
body{
   /*100vh quebra o body em 100 pedacinhos*/
    height: 100vh;
}

body {
	font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background-color: var(--color-background);
	display: flex;
	align-items: center;
    justify-content: center;
}


#container {    
    width: 90vw;
    max-width: 700px;
}


h1,h2 {
	font-family: Georgia;
}

h1 {
	border-bottom: 3px solid #aaa;
	color: var(--color-text-title);
	padding: 5px;	
}

h2 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color:var(--color-background-card);
	padding-left: 5px;
	margin: 0 0 0 -15px;
	font-weight: normal;
}

font{
	color: var(--color-list-subt)
}

.secao {
	background-color: #eee;
	padding-left: 15px;
}

label {
	font-weight: bold;
	margin-right: 10px;
}

label:after {
	content: ":";
}

a {
	text-decoration:none;
	color: var(--color-link);
}


a:hover {
	text-decoration:none;
	color: #fa0;
}

#menu {
	margin: 0;
}

#menu ul, #menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#menu .ativo {
	background-color:var(--color-background-card);
	
}



.vcard {
	padding: 5px;
}

.url, .email {
	display: block;
}

.photo {
	display: block;
 	max-width:230px;
  	max-height:95px;
  	width: auto;
  	height: auto;
}

